@import '../fonts/icons/icons';

.icon-arrow:before {
  content: "\e900";
}

.icon-avatar:before {
  content: "\e901";
}

.icon-basket:before {
  content: "\e902";
}

.icon-box:before {
  content: "\e903";
}

.icon-facebook:before {
  content: "\e904";
}

.icon-heart:before {
  content: "\e905";
}

.icon-instagram:before {
  content: "\e906";
}

.icon-search:before {
  content: "\e907";
}

.icon-vk:before {
  content: "\e908";
}

.icon-whatsapp:before {
  content: "\e909";
}