:root {

    // colors
    // primary color
    --primary_color_default: rgb(231, 41, 54);

    // secondary color
    --secondary_color_default: rgb(0, 0, 0);

    // neutral
    --neutral_color_white: #FFFFFF;


    --transition-all-ease: all 0.3s ease;
}